{% extends "base.html" %}

{% block content %}
<h2>Dodaj świnkę</h2>
<form method="post" class="row g-3">
    {% csrf_token %}
    <div class="form-floating col-md-6">
        <input type="text" placeholder="Tak" class="form-control {% if form.errors.name %}is-invalid{% endif %}"
               id="inputName" name="name" value="{{ form.data.name }}" required>
        <label for="inputName" class="form-label">Imię</label>
        {% if form.errors.name %}
        <div class="alert alert-danger">
            {% for error in form.errors.name %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-floating col-md-6">
        <input type="date" placeholder="Data urodzenia"
               class="form-control {% if form.errors.birth_date %}is-invalid{% endif %}" id="inputBirth_date"
               name="birth_date" value="{{ form.data.birt_hdate }}" min="{{ min_date }}" max="{{ max_date }}">
        <label for="inputBirth_date" class="form-label">Data urodzenia</label>
        {% if form.errors.birt_hdate %}
        <div class="alert alert-danger">
            {% for error in form.errors.birth_date %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <select class="form-select {% if form.errors.sex %}is-invalid{% endif %}" id="inputSex" name="sex"
                value="{{ form.data.sex }}">
            <option value="" selected disabled>Wybierz płeć świnki</option>
            {% for value, label in form.sex.field.choices %}
            <option value="{{ value }}" {% if value == form.sex.value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        {% if form.errors.sex %}
        <div class="text-danger">
            {% for error in form.errors.sex %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
        <div class="row mt-3 mb-3" id="id_pig-colors">
      <div class="col-md-2 m-0 pr-2 text-end">
          Kolory:
      </div>
      <div class="col-md-2 m-0 p-0">
          <select class="form-select form-select-sm m-0 p-0 {% if form.errors.colors %}is-invalid{% endif %}" id="id_colors_0" name="colors_0">
              {% for value, select in form.fields.colors.widget.widgets.0.choices %}
                  <option value="{{ value }}" {% if value == form.data.colors_0 %}selected{% endif %}>{{ select }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-2 m-0 p-0">
          <select class="form-select form-select-sm m-0 p-0 {% if form.errors.colors %}is-invalid{% endif %}" id="id_colors_1" name="colors_1">
              {% for value, select in form.fields.colors.widget.widgets.1.choices %}
                  <option value="{{ value }}" {% if value == form.data.colors_1 %}selected{% endif %}>{{ select }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-2 m-0 p-0">
          <select class="form-select form-select-sm m-0 p-0 {% if form.errors.colors %}is-invalid{% endif %}" id="id_colors_2" name="colors_2">
              {% for value, select in form.fields.colors.widget.widgets.2.choices %}
                  <option value="{{ value }}" {% if value == form.data.colors_2 %}selected{% endif %}>{{ select }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-2 m-0 p-0">
          <select class="form-select form-select-sm m-0 p-0 {% if form.errors.colors %}is-invalid{% endif %}" id="id_colors_3" name="colors_3">
              {% for value, select in form.fields.colors.widget.widgets.3.choices %}
                  <option value="{{ value }}" {% if value == form.data.colors_3 %}selected{% endif %}>{{ select }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-2 m-0 p-0">
          <select class="form-select form-select-sm m-0 p-0 {% if form.errors.colors %}is-invalid{% endif %}" id="id_colors_4" name="colors_4">
              {% for value, select in form.fields.colors.widget.widgets.4.choices %}
                  <option value="{{ value }}" {% if value == form.data.colors_4 %}selected{% endif %}>{{ select }}</option>
              {% endfor %}
          </select>
      </div>
        {% if form.errors.colors %}
        <div class="text-danger">
          {% for error in form.errors.colors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

    <div class="col-12 mb-5 mt-5 text-center">
        <button type="submit" class="btn btn-lg btn-primary">Dodaj świnkę</button>
    </div>
</form>
{% endblock %}