{% extends "base.html" %}

{% block content %}
<h1>Zmień hasło</h1>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-floating col-md-6 mt-3">
            <input type="password" placeholder="Stare hasło" class="form-control" id="old_password" name="old_password" required>
            <label for="old_password" class="form-label">Stare hasło</label>
            {% if form.old_password.errors %}
            <div class="alert alert-danger pb-0 mt-1">
                {{ form.old_password.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-floating col-md-6 mt-3">
            <input type="password" placeholder="Stare hasło" class="form-control" id="new_password1" name="new_password1" required>
            <label for="new_password1" class="form-label">Nowe hasło</label>
            {% if form.new_password1.errors %}
            <div class="alert alert-danger pb-0 mt-1">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-floating col-md-6 mt-3">
            <input type="password" placeholder="Stare hasło" class="form-control" id="new_password2" name="new_password2" required>
            <label for="new_password2" class="form-label">Potwierdź nowe hasło</label>
            {% if form.new_password2.errors %}
            <div class="alert alert-danger pb-0 mt-1">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-warning mt-3 mb-4">Zmień hasło</button>
        <a href="{% url 'my_profile' %}" class="btn btn-success mt-3 mb-4">Powrót do Moich danych</a>
    </form>
</div>
{% endblock %}
