{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        {% if user_pigs %}
        <h1>Lista Świnek Wystawowych</h1>
            <ul class="list-group mt-3">
                {% for pig in user_pigs %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>{{ pig.name }} {% if user.username != pig.nickname %} {{pig.nickname}}{% endif %}</strong><br>
                                {% if pig.sex == "Male" %} Samiec{% else %} Samica{% endif %} - {{ pig.breed.name }} {{ pig.formatted_colors }}
                            </div>
                            <div class="d-flex">
                                <a href="{% url 'exhibitor_pig_detail' pig_id=pig.id %}" class="btn btn-primary me-2">Szczegóły</a>
                                <form method="post" action="{% url 'exhibitor_my_pigs' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_pig_id" value="{{ pig.id }}">
                                    <button type="submit" class="btn btn-danger">Usuń</button>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        <a href="{% url 'exhibitor_add_pig' %}" class="btn btn-primary mt-3 mb-3">Dodaj nową świnkę</a>
        {% else %}
        <div class="row text-center">
            <h1>Lista Świnek</h1>
            <p class="mt-3 mb-3">Brak świnek do wyświetlenia.</p>
            <a href="{% url 'exhibitor_add_pig' %}" class="btn btn-primary mt-3 mb-3">Dodaj nową świnkę</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
