{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
   <!--    <img src="/static/files/judging_committee/jc_photo.jpg" alt="" class="img-thumbnail">-->
   <h2 class="text-center">PRZEWODNICZĄCY KOMISJI</h2>
   <p class="lead text-center">Daniel Dawid Banasiak - sędzia wszystkich ras - tel. 516 784 259</p>
   <p class="text-center">Podanie o rozpoczęcie asysty, podanie o przedłużenie asystentury, wyznaczenie terminów egzaminu,
      skargi na sędziów/adeptów, prosimy kierować na e-mail: <a href="mailto:komisja_sedziowska@wp.pl">komisja_sedziowska@wp.pl</a>
   </p>
   <h2 class="mt-4 mb-3 text-center">CZŁONKOWIE KOMISJI</h2>
   <ul class="list-group">
      <li class="list-group-item">Monika Czarnecka (Kamińska) - sędzia wszystkich ras</li>
      <li class="list-group-item">Natalia Paradowska - sędzia wszystkich ras</li>
      <li class="list-group-item">Magdalena Pachla-Zawadzka - sędzia wszystkich ras</li>
      <li class="list-group-item">Rafał Czarnecki - sędzia wszystkich ras</li>
      <li class="list-group-item">Anna Stankiewicz - sędzia ras krótkowłosych z teksturą, długowłosych, oraz bezwłosych (w trakcie egzaminów na sędziego wszystkich ras)</li>
      <li class="list-group-item">Natalia Wróbel - sędzia wszystkich ras</li>
   </ul>
   <h2 class="mt-4 mb-3 text-center">SĘDZIOWIE GOŚCINNI</h2>
   <ul class="list-group">
      <li class="list-group-item">Rita Ribeiro - sędzia wszystkich ras</li>
      <li class="list-group-item">Andrea Kroftová - sędzia wszystkich ras</li>
      <li class="list-group-item">Vladyslav Myrnyi - sędzia wszystkich ras</li>
   </ul>
   <h2 class="mt-4 mb-3 text-center">ADEPCI</h2>
   <ul class="list-group">
      <li class="list-group-item">Mateusz Włodarczak - adept na sędziego wszystkich ras, s.prowadzący Natalia Paradowska</li>
   </ul>
   <h2 class="mt-4 mb-3 text-center">SĘDZIOWIE NIEAKTYWNI</h2>
   <ul class="list-group">
      <li class="list-group-item">Monika Spychała-Komorwska - utrata uprawnień CCP dnia 24.10.2022 roku.</li>
   </ul>
   <h2 class="mt-4 mb-3 text-center">DOKUMENTY</h2>
   <ul class="list-group">
      <li class="list-group-item"><a href="#" class="link-primary">Regulamin Sędziów i Adeptów CCP. [ściągnij plik .pdf]</a></li>
      <li class="list-group-item"><a href="#" class="link-primary">Konspekt teoretycznego egzaminu sędziowskiego. [ściągnij plik .pdf]</a></li>
   </ul>
   <table class="table table-bordered mt-5" >
      <thead class="thead-dark">
         <tr align="center">
            <th colspan="2" rowspan="1">Punktacja egzaminu teoretycznego. Całość 100pkt.</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td class="bg-light text-center">Standard (50pkt)</td>
            <td class="bg-light text-center">Genetyka (50pkt)</td>
         </tr>
         <tr>
            <td class="bg-light text-center">Pytania zamknięte (abcd). <br>20 pytań po 1pkt. (do zdobycia 20pkt)</td>
            <td class="bg-light text-center">Pytania zamknięte (abcd). <br>20 pytań po 1pkt. (do zdobycia 20pkt)</td>
         </tr>
         <tr>
            <td class="bg-light text-center">Pytania otwarte. <br>6 pytań po 5pkt. (do zdobycia 30pkt)</td>
            <td class="bg-light text-center">Pytania otwarte. <br>6 pytań po 5pkt. (do zdobycia 30pkt)</td>
         </tr>
      </tbody>
   </table>
   <table class="table table-bordered">
      <thead>
         <tr class="text-center font-weight-bold">
            <th>Tura</th>
            <th>Data</th>
            <th>Miasto</th>
            <th>Egzaminowani</th>
            <th>Egzaminujący</th>
            <th>Egzamin</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td rowspan="4">I</td>
            <td>05.12.2009</td>
            <td>Poznań</td>
            <td>Monika Spychała<br>Daniel Banasiak</td>
            <td>Christian Koch</td>
            <td>Teoria<br>(Standard A,B,C) - ustny i pisemny</td>
         </tr>
         <tr>
            <td>05.12.2009</td>
            <td>Poznań</td>
            <td>Monika Spychała<br>Daniel Banasiak</td>
            <td>Christian Koch</td>
            <td>rasy długowłose<br>(gr. VII, VIII)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>09.01.2010</td>
            <td>Warszawa</td>
            <td>Monika Spychała<br>Daniel Banasiak</td>
            <td>Istvan Siklosi</td>
            <td>rasy bezwłose<br>(gr. IX)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>29.05.2010</td>
            <td>Warszawa</td>
            <td>Monika Spychała<br>Daniel Banasiak</td>
            <td>Darren Fieldhouse<br>Jens Lindgren</td>
            <td>rasy krótkowłose<br>(gr. I,II,III,IV,V,VI)<br>- praktyczny</td>
         </tr>
         <tr>
            <td rowspan="8">II</td>
            <td>25.05.2012</td>
            <td>Kraków</td>
            <td>Monika Kamińska</td>
            <td>Daniel Banasiak</td>
            <td>Teoria<br>(Standard A,B,C i Genetyka)<br>- ustny i pisemny</td>
         </tr>
         <tr>
            <td>26.05.2012</td>
            <td>Kraków</td>
            <td>Monika Kamińska</td>
            <td>Daniel Banasiak<br>Irina Biletskaya</td>
            <td>rasy bezwłose<br>(gr. IX)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>21.11.2014</td>
            <td>Warszawa</td>
            <td>Natalia Paradowska</td>
            <td>Daniel Banasiak</td>
            <td>Teoria<br>(Standard A,B,C i Genetyka)<br>- ustny i pisemny</td>
         </tr>
         <tr>
            <td>22.11.2014</td>
            <td>Warszawa</td>
            <td>Monika Kamińska<br>Natalia Paradowska</td>
            <td>Daniel Banasiak</td>
            <td>rasy długowłose<br>(gr. VII, VIII)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>14.03.2015</td>
            <td>Lublin</td>
            <td>Monika Kamińska</td>
            <td>Daniel Banasiak,<br>Rita Ribeiro</td>
            <td>rasy krótkowłose<br>(gr. I,II,III,IV,V,VI)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>04.09.2017</td>
            <td>Konarzewo</td>
            <td>Natalia Paradowska</td>
            <td>Daniel Banasiak</td>
            <td>rasy krótkowłose z teksturą<br>(gr.VI)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>04.09.2017</td>
            <td>Konarzewo</td>
            <td>Natalia Paradowska</td>
            <td>Daniel Banasiak</td>
            <td>rasy bezwłose<br>(gr. IX)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>02.03.2019</td>
            <td>Zielonka</td>
            <td>Natalia Paradowska</td>
            <td>Daniel Banasiak;</td>
            <td>rasy krótkowłose<br>(gr. I,II,III,IV,V)<br>- praktyczny</td>
         </tr>
         <tr>
            <td rowspan="6">III</td>
            <td>26.02.2017</td>
            <td>Warszawa</td>
            <td>Magdalena Pachla-Zawadzka<br>Rafał Czarnecki</td>
            <td>Daniel Banasiak<br></td>
            <td>Teoria <br>(Standard A,B,C i Genetyka) <br>- ustny i pisemny</td>
         </tr>
         <tr>
            <td>26.02.2017</td>
            <td>Warszawa</td>
            <td>Magdalena Pachla-Zawadzka<br>Rafał Czarnecki</td>
            <td>Daniel Banasiak,<br>Rita Ribeiro<br>Monika Spychała-Komorowska</td>
            <td>rasy długowłose<br>(gr. VII, VIII)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>26.02.2017</td>
            <td>Warszawa</td>
            <td>Magdalena Pachla-Zawadzka<br>Rafał Czarnecki</td>
            <td>Daniel Banasiak,<br>Rita Ribeiro<br>Monika Spychała-Komorowska</td>
            <td>rasy bezwłose<br>(gr. IX)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>26.02.2017</td>
            <td>Warszawa</td>
            <td>Magdalena Pachla-Zawadzka<br>Rafał Czarnecki</td>
            <td>Daniel Banasiak,<br>Rita Ribeiro<br>Monika Spychała-Komorowska</td>
            <td>rasy krótkowłose z teksturą<br>(gr.VI)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>04.09.2017</td>
            <td>Konarzewo</td>
            <td>Magdalena Pachla-Zawadzka</td>
            <td>Daniel Banasiak</td>
            <td>rasy krótkowłose<br>(gr. I,II,III,IV,V)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>24.02.2018</td>
            <td>>Zielonka</td>
            <td>Rafał Czarnecki</td>
            <td>Daniel Banasiak</td>
            <td>rasy krótkowłose<br>(gr. I,II,III,IV,V)<br>- praktyczny</td>
         </tr>
         <tr>
            <td rowspan="4">G</td>
            <td rowspan="4">02.03.2019</td>
            <td rowspan="4">Zielonka</td>
            <td rowspan="4">Vladyslav Myrnyi</td>
            <td>Daniel Banasiak</td>
            <td>rasy krótkowłose<br>(gr. I,II,III,IV,V)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>Andrea Kroftova</td>
            <td>rasy krótkowłose z teksturą<br>(gr.VI)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>Eva Bednarova</td>
            <td>rasy długowłose<br>(gr. VII, VIII)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>Magdalena Pachla-Zawadzka</td>
            <td>rasy bezwłose<br>(gr. IX)<br>- praktyczny</td>
         </tr>
         <tr>
            <td rowspan="3">IV</td>
            <td>18.01.2020</td>
            <td>Warszawa</td>
            <td>Anna Stankiewicz</td>
            <td>Daniel Banasiak</td>
            <td>Teoria<br>(Standard A,B,C i Genetyka)<br>- ustny i pisemny</td>
         </tr>
         <tr>
            <td>08-09.02.2020</td>
            <td>Warszawa</td>
            <td>Anna Stankiewicz</td>
            <td>Eva Bednarova<br>Monika Czarnecka</td>
            <td>rasy krótkowłose z teksturą oraz bezwłose<br>(gr.VI, IX)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>11.02.2023</td>
            <td>Międzyrzecz</td>
            <td>Anna Stankiewicz</td>
            <td>Andrea Kroftova<br>Eva Bednarova<br>Natalia Paradowska</td>
            <td>rasy długowłose<br>(gr. VII, VIII)<br>- praktyczny</td>
         </tr>
         <tr>
            <td rowspan="4">V</td>
            <td>11.02.2023</td>
            <td>Międzyrzecz</td>
            <td>Natalia Wróbel</td>
            <td>Daniel Banasiak</td>
            <td>Teoria<br>(Standard A,B,C i Genetyka)<br>- ustny i pisemny</td>
         </tr>
         <tr>
            <td>11.02.2023</td>
            <td>Międzyrzecz</td>
            <td>Natalia Wróbel</td>
            <td>Andrea Kroftova<br>Eva Bednarova<br>Natalia Paradowska</td>
            <td>rasy krótkowłose z teksturą oraz bezwłose<br>(gr.VI, IX)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>11.02.2023</td>
            <td>Międzyrzecz</td>
            <td>Natalia Wróbel</td>
            <td>Andrea Kroftova<br>Eva Bednarova<br>Natalia Paradowska</td>
            <td>rasy długowłose<br>(gr. VII, VIII)<br>- praktyczny</td>
         </tr>
         <tr>
            <td>25.11.2023</td>
            <td>Affligem/Belgia</td>
            <td>Natalia Wróbel</td>
            <td>Andrea Kroftová<br>Jan Schop<br>Bertus van Dijk<br>Luc De Donder</td>
            <td>rasy krótkowłose<br>(gr. I, II, III, IV, V)<br>- praktyczny</td>
         </tr>
      </tbody>
   </table>
   <p>SEMINARIUM EUROPEJSKIE SĘDZIÓW EE</p>
   <table class="table table-bordered">
      <thead>
         <tr class="text-center font-weight-bold">
            <th>Data</th>
            <th>Kraj</th>
            <th>Miasto</th>
            <th>Delegaci PL</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>04-05.09.2010</td>
            <td>Wielka Brytania</td>
            <td>Londyn</td>
            <td>Monika Spychała-Komorowska<br>Daniel Dawid Banasiak</td>
         </tr>
         <tr>
            <td>17-18. 03.2012</td>
            <td>Niemcy</td>
            <td>Berlin</td>
            <td>Monika Spychała-Komorowska</td>
         </tr>
         <tr>
            <td>15-17.03.2013</td>
            <td>Czechy</td>
            <td>Praga</td>
            <td>Monika Spychała-Komorowska</td>
         </tr>
         <tr>
            <td>14-16.03.2014</td>
            <td>Holandia</td>
            <td>Putten</td>
            <td>Daniel Dawid Banasiak</td>
         </tr>
         <tr>
            <td>17-18.03.2018</td>
            <td>Dania</td>
            <td>Albertslund</td>
            <td>Monika Spychała-Komorowska<br>Daniel Dawid Banasiak<br>Magdalena Pachla-Zawadzka</td>
         </tr>
         <tr>
            <td>16-17.03.2019</td>
            <td>Słowacja</td>
            <td>Nitra</td>
            <td>Monika Spychała-Komorowska<br>Daniel Dawid Banasiak<br>Natalia Paradowska</td>
         </tr>
         <tr>
            <td>25-26.11.2023</td>
            <td>Belgia</td>
            <td>Affligem</td>
            <td>Daniel Dawid Banasiak<br>Natalia Wróbel</td>
         </tr>
      </tbody>
   </table>
</div>
{% endblock %}