{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center m-4">
  <h2 class="text-center">Wybierz rodzaj rejestracji:</h2>
    <div class="col-md-6">
      <form method="post" action="{% url 'register' %}" class="text-center">
        {% csrf_token %}
        <button class="btn btn-primary" name="registration_type" type="submit" value="member">Hodowca lub Miłośnik</button>
        <button class="btn btn-primary" name="registration_type" type="submit" value="exhibitor">Hodowca zagraniczny lub Wystawca</button>
      </form>
    </div>
  </div>

{% endblock %}
