{% extends "base.html" %}

{% block content %}
{% if message_sent %}
  <div class="d-flex flex-column align-items-center my-5">
    <h1>Dziękujemy!</h1>
    <p class="text-center">Po potwierdzeniu zarejestrowania hodowli przez zarząd
      hodowla zostanie aktywowana. <br>Informacja zostanie wysłane na adres: <b>{{ user.email }}</b></p>
    <a href="{% url 'Main' %}" class="btn btn-success mt-3">Przejdź do strony głównej</a>
</div>
{% else %}
<h2>Create Breeding</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
{% endif %}
{% endblock %}