{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">ZARZĄD KLUBU</h1>

    <h2 class="mt-4">ZARZĄD GŁÓWNY KLUBU</h2>
    <ul class="list-group mb-4">
        <li class="list-group-item">1. Prezes - Mateusz Włodarczak <br> e-mail: zbandyprosiakow@gmail.com</li>
        <li class="list-group-item">2. Wiceprezes ds. Hodowlanych - Anna Stankiewicz <br> e-mail: vanityfaircavies@gmail.com <br> telefon: 694-949-201</li>
        <li class="list-group-item">3. Wiceprezes ds. Organizacyjnych - Grzegorz Jeleński <br> e-mail: grzegorz162@wp.pl <br> telefon: 695-836-651</li>
        <li class="list-group-item">4. Wiceprezes ds. Promocji - Katarzyna Nowaczewska <br> e-mail: zdolinymuminkow@gmail.com <br> telefon: 601-381-157</li>
        <li class="list-group-item">5. Skarbnik - Julia Tomaszewska <br> e-mail: julia.t@onet.pl <br> telefon: 606-997-834</li>
    </ul>

    <h2>SĄD KOLEŻEŃSKI</h2>
    <ul class="list-group mb-4">
        <li class="list-group-item">1. Przewodnicząca - Natalia Paradowska</li>
        <li class="list-group-item">2. Małgorzata Polańska</li>
        <li class="list-group-item">3. Annda Chudziej</li>
        <li class="list-group-item">4. Dorota Trzcińska</li>
        <li class="list-group-item">5. Magdalena Pachla-Zawadzka</li>
        <li class="list-group-item">6. Anna Barbarewicz <br> e-mail: sad.kolezenski.ccp@gmail.com</li>
    </ul>

    <h2>KOMISJA REWIZYJNA</h2>
    <ul class="list-group mb-4">
        <li class="list-group-item">1. Daniel Dawid Banasiak</li>
        <li class="list-group-item">2. Karolina Smorenda</li>
        <li class="list-group-item">3. Kamil Smorenda</li>
    </ul>

    <h2>KOMISJA SĘDZIOWSKA I STANDARYZACYJNA</h2>
      <ul class="list-group mb-4">
          <li class="list-group-item">1. Przewodniczący - Daniel Dawid Banasiak</li>
          <li class="list-group-item">2. Monika Czarnecka</li>
          <li class="list-group-item">3. Magdalena Pachla-Zawadzka</li>
          <li class="list-group-item">4. Rafał Czarnecki</li>
          <li class="list-group-item">5. Natalia Paradowska</li>
          <li class="list-group-item">6. Anna Stankiewicz</li>
      </ul>

      <h2>RZECZNIK PRASOWY KLUBU CCP</h2>
      <p class="mb-4">Małgorzata Polańska - Warszawa <br> e-mail: aterida@onet.pl <br> telefon: 508 164 703</p>

      <h2>GRAFIK KLUBU CCP</h2>
      <p class="mb-4">Aleksandra Włodarczyk <br> e-mail: a.wlodarczyk@vip.onet.pl <br> telefon: 601 763 704</p>

      <h2>OSOBA ODPOWIEDZIALNA ZA STRONĘ WWW</h2>
      <p class="mb-4">Maciej Faber <br> e-mail: maciej.faber.ccp@gmail.com <br> telefon: 739 011 107</p>

      <h2>OSOBA ODPOWIEDZIALNA ZA SPONSORÓW CCP</h2>
      <p class="mb-4">WAKAT</p>

      <h2>OGÓLNY E-MAIL KONTAKTOWY</h2>
      <p class="mb-4">Wszelkie pytania oraz problemy, odnośnie klubu czy strony prosimy kierować na e-mail: ccpklub@wp.pl</p>

    <h2>OGÓLNY E-MAIL KONTAKTOWY</h2>
    <p class="mb-4">Wszelkie pytania oraz problemy, odnośnie klubu czy strony prosimy kierować na e-mail: ccpklub@wp.pl</p>
</div>
{% endblock %}
